<form class="faserip-dialog contact-dialog" autocomplete="off">
  <div class="contact-header">
    <img class="contact-portrait" src="{{item.img}}" data-edit="img" width="40" height="40" title="{{item.name}}"/>
    <input class="contact-name-input" type="text" name="name" value="{{item.name}}" placeholder="Contact Name"/>
  </div>

  <div class="contact-body">

    <fieldset class="contact-fieldset">
      <legend>Classification</legend>
      <div class="contact-grid-2col">
        <div class="contact-field">
          <label>Contact Type</label>
          <select name="system.type" class="contact-type-select">
            <option value="" {{#if (eq system.type "")}}selected{{/if}}>-- Select Type --</option>
            <option value="Professional" {{#if (eq system.type "Professional")}}selected{{/if}}>Professional</option>
            <option value="Scientific" {{#if (eq system.type "Scientific")}}selected{{/if}}>Scientific</option>
            <option value="Political" {{#if (eq system.type "Political")}}selected{{/if}}>Political</option>
            <option value="Mystic" {{#if (eq system.type "Mystic")}}selected{{/if}}>Mystic</option>
            <option value="Criminal" {{#if (eq system.type "Criminal")}}selected{{/if}}>Criminal</option>
            <option value="Hero Group" {{#if (eq system.type "Hero Group")}}selected{{/if}}>Hero Group</option>
            <option value="Other" {{#if (eq system.type "Other")}}selected{{/if}}>Other</option>
          </select>
        </div>
        <div class="contact-field">
          <label>Disposition</label>
          <select name="system.disposition" class="contact-disposition-select">
            <option value="Friendly" {{#if (eq system.disposition "Friendly")}}selected{{/if}}>Friendly</option>
            <option value="Neutral" {{#if (eq system.disposition "Neutral")}}selected{{/if}}>Neutral</option>
            <option value="Suspicious" {{#if (eq system.disposition "Suspicious")}}selected{{/if}}>Suspicious</option>
            <option value="Hostile" {{#if (eq system.disposition "Hostile")}}selected{{/if}}>Hostile</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset class="contact-fieldset">
      <legend>Location</legend>
      <div class="contact-field">
        <input type="text" name="system.location" value="{{system.location}}" placeholder="City / base of operations"/>
      </div>
    </fieldset>

    <fieldset class="contact-fieldset">
      <legend>Notes</legend>
      <textarea name="system.notes" rows="3" placeholder="Contact's actual name and other important details">{{system.notes}}</textarea>
    </fieldset>

    <fieldset class="contact-fieldset">
      <legend>Description</legend>
      <textarea name="system.description" rows="5" placeholder="General description of this contact">{{system.description}}</textarea>
    </fieldset>

  </div>
</form>
