<div class="universal-table-wrapper">
  <div class="font-size-control">
    <label for="fontSizeSlider">Font Size</label>
    <input type="range" min="9" max="16" value="11" id="fontSizeSlider" />
  </div>

  <div class="universal-grid-table">
    {{#each actionTypes}}
      <div class="column action-button" data-code="{{this.code}}" data-action="{{this.code}}" draggable="true">
        <div class="stack header1">{{this.labelTop}}</div>
        <div class="stack header2">{{this.labelMid}}</div>
        <div class="stack header3 action-code">{{this.code}}</div>
        <div class="stack header4">{{this.ability}}</div>
        <div class="stack white">{{this.white}}</div>
        <div class="stack green">{{this.green}}</div>
        <div class="stack yellow">{{this.yellow}}</div>
        <div class="stack red">{{this.red}}</div>
      </div>
    {{/each}}
  </div>

  <button id="toggleRankTable"
          style="font-size: 11px; padding: 2px 6px; height: 20px; line-height: 20px;">
    Toggle Rank Table
  </button>

  <div id="rankTableContainer" style="display: none; margin-top: 10px; font-size: 12px;">
    {{> "systems/msh-faserip/templates/universal-rank-table.hbs" }}
  </div>
</div>